# Label Exploration

In [4]:
import os, sys
import pandas as pd
import numpy as np

In [13]:
%cd nbs

/home/javier/Documents/YelpRestaurantPhotoClassification/nbs

In [14]:
HOME_DIR = os.getcwd()
DATA_DIR = HOME_DIR + '/../Data/'
TRAIN_DIR = DATA_DIR + '/train/'

In [8]:
%cd $HOME_DIR

/home/javier/Documents/YelpRestaurantPhotoClassification/Data

In [9]:
%ls

train/

In [15]:
df = pd.read_csv('train.csv')

In [16]:
df.head()

   business_id         labels
0         1000  1 2 3 4 5 6 7
1         1001        0 1 6 8
2          100    1 2 4 5 6 7
3         1006      1 2 4 5 6
4         1010          0 6 8

## Train Images to Train Restaurants

In [1]:
import os, sys
import pandas as pd
import numpy as np

In [2]:
HOME_DIR = os.getcwd()
DATA_DIR = HOME_DIR + '/../Data/'
TRAIN_DIR = DATA_DIR + '/train/'

In [3]:
%cd $DATA_DIR

/home/javier/Documents/YelpRestaurantPhotoClassification/Data

### Load train images to buisness id

In [8]:
%cd $HOME_DIR

/home/javier/Documents/YelpRestaurantPhotoClassification/nbs

In [15]:
%cd $HOME_DIR
df = pd.read_csv('train_photo_to_biz_ids.csv', header=0)

/home/javier/Documents/YelpRestaurantPhotoClassification/nbs

In [20]:
df.head()

   photo_id  business_id
0    204149         3034
1     52779         2805
2    278973          485
3    195284          485
4     19992          485

In [36]:
photo_id = np.array(df['photo_id'])

In [38]:
business_id = np.array(df['business_id'])

### Make One directory for every buisness

In [22]:
%cd $TRAIN_DIR

/home/javier/Documents/YelpRestaurantPhotoClassification/Data/train

In [24]:
df.columns

Index(['photo_id', 'business_id'], dtype='object')

In [26]:
unique_buisness = df['business_id'].unique()
len(unique_buisness)

2000

In [27]:
if not os.path.exists(TRAIN_DIR + 'original_buisnesses'):
    os.mkdir('original_buisnesses')

In [32]:
for buisness in unique_buisness:
    if not os.path.exists(TRAIN_DIR + '/original_buisnesses/'+ str(buisness)):
        os.mkdir(TRAIN_DIR + 'original_buisnesses/'+ str(buisness))

In [50]:
for i, photo in enumerate(photo_id):
    os.rename(str(photo)+'.jpg', TRAIN_DIR +'/original_buisnesses/'+str(business_id[i])+'/'+str(photo)+'.jpg')